/* Display info cards */
/*.flexRow--global__home--slide-1 :global(.vtex-store-components-3-x-container) {
    padding: 0%;
    margin : 0%;
}

.flexRow--global__home--slide-1 {
    margin-top      : 26px;
    margin-left     : 16px;
    background-color: cadetblue;
}

.flexRowContent--global__home--slide-1 {
    background-color: aliceblue;
    border          : 1px solid;
}*/

/*.flexRow--global__home--slide-1 :global(.vtex-slider-layout-0-x-slide--global__home-slide--1) {
    border          : 1px solid red;
    width           : 324px;
}*/

/*---------- Desktop ------------*/
/*@media (min-width: 1025px) {
    .flexRow--global__home--slide-1 {
        margin-top : 24px;
        margin-left: 72px;
    }
}*/