.flexRow--global__home-shelf-slide--1 {
    margin-top: 24px;
    margin-left: 16px;
}

.flexRowContent--global__home-shelf-slide {
    display       : flex;
    flex-direction: row;
    overflow      : auto;
    overflow-y    : hidden;
}

.flexCol--global__home-card--shelf {
    width          : 324px;
    height         : 305px;
    /*border       : 1px solid red;*/
    border-radius  : 12px;
    box-shadow     : 0px 2px 16px 0px #0000000F;
    box-shadow     : 0px 2px 8px 0px #00000014;
    /*margin-left    : 16px;*/
    margin-right   : 8px;
}


/* Info cards */
.flexRowContent--shelf__product-summary--bages {
    display: flex;
}

.flexColChild--shelf__product-summary-name :global(.vtex-product-summary-2-x-nameContainer) {
    padding: 0px;
}

.flexColChild--shelf__product-summary-prices :global(.vtex-product-summary-2-x-priceContainer) {
    padding: 0px;
}

.flexCol--shelf__product-summary-name {
    height: fit-content;
}

.flexColChild--shelf__product-summary-name {
    height  : 39.48px !important;
    /*border: 1px solid rebeccapurple;*/
}

.flexColChild--shelf__product-summary-prices :global(.vtex-store-components-3-x-installmentsPrice) {
    display: none;
}

.flexColChild--shelf__product-summary-prices {
    display: flex;
}

/*.flexRowContent--global__home-shelf-slide--1 {
    overflow: auto;
}*/

.flexRow--global__home-shelf-slide--1 :global(.vtex-list-context-0-x-list) {
    display: flex;
    gap    : 16.48px;
}

.flexRow--global__home-shelf-slide--1 :global(.vtex-product-summary-2-x-container) {
    width: 176.52px;
}

.flexCol--global__home--card-one {
    width: 324px !important;
}

.flexColChild--shelf__product-summary-name {
    margin-left : 6.19px;
    margin-right: 6.19px;
}

.flexColChild--shelf__product-summary-prices {
    margin-left : 6.19px;
    margin-right: 6.19px;
}

.flexColChild--shelf__product-summary-highligths {
    margin-left : 6.19px;
    margin-right: 6.19px;
}

.flexColChild--shelf__product-summary-add-to-cart {
    margin-left  : 6.19px;
    margin-right : 6.19px;
    margin-top   : 9.29px;
    margin-bottom: 6.27px;
}

.flexColChild--shelf__product-summary-add-to-cart :global(.vtex-button) {
    border-radius   : 30.97px;
    background-color: transparent;
    border          : 0.77px solid #1D2734 !important;
    padding         : 7.74px;
    gap             : 7.74px;
    width           : 164.13px;
    height          : 37.16px;
}

.flexColChild--shelf__product-summary-add-to-cart :global(.vtex-button__label) {
    padding: 0% !important;
}

.flexRow--shelf__product-summary--bages {
    margin: 0px 6.19px 0px 6.19px
}

/*.flexRowContent--shelf__product-summary--bages {
    border: 1px solid;
}*/

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .flexRow--global__home-shelf-slide {
        margin-left: 72px;
    }
}