.buttonText--product__summary-btn--add {
    font-family   : montserrat, lexend, sans-serif;
    font-weight   : 500;
    line-height   : 15.1px;
    text-align    : center;
    color         : #1D2734;
    text-transform: lowercase;
    text-transform: capitalize;
    display       : flex;
    align-items   : center;
}

.buttonText--product__summary-btn--add {
    font-size: 0px;
}

.buttonText--product__summary-btn--add::after {
    content  : "Enabled";
    font-size: 12.39px;
}

.buttonDataContainer--product__summary-btn--add::before {
    content: url("/arquivos/button_cart.png");
    background-size: 15.48px;
}

.buttonDataContainer--product__summary-btn--add {
    display    : flex;
    align-items: center;
    gap        : 9.57px !important;
}