/*-------------- Header mobile custom --------------*/
.flexRow--mobile__header-menu--main {
    width           : 100%;
    background-color: #fff;
}

.flexRowContent--mobile__header-menu--main {
    display   : flex;
    margin-top: 37px;
}

.flexCol--mobile__header-menu-section--one {
    margin-left: 16px;
}

.flexCol--mobile__header-menu-section--two {
    flex-direction: row;
    margin-right  : 16px;
}

.flexRowContent--mobile__header-menu-section-two-search--bar {
    margin-right: 16.8px;
}

.flexRowContent--mobile__header-menu-section-two-mini--cart {
    margin-right: 19.25px;
}

/*-------------- Header desktop custom --------------*/
.flexColChild--desktop__header-menu-section--three :global(.vtex-store-components-3-x-searchIcon) {
    width : 20px;
    height: 20px;
}

.flexRowContent--desktop__header-menu--main :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width : fit-content !important;
    height: fit-content !important;
}

.flexCol--desktop__header-menu-section--one {
    margin-right: 16px;
}

.flexColChild--desktop__header-menu-section--one {
    margin-top: 20px;
}

.flexCol--desktop__header-menu-section--two {
    align-items    : center;
    justify-content: center;
}

.flexColChild--desktop__header-menu-section--two {
    margin-top: 21px;
}

.flexColChild--desktop__header-menu-section--three {
    margin-top: 18px;
}

.flexCol--desktop__header-menu-section--three {
    flex-direction : row;
    align-items    : start;
    justify-content: center;
    gap            : 16px;
    margin-left    : 16px;
}