.styledLinkContent--desktop__header-menu--websites {
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    color      : #1D2734;
    font-family: lexend, sans-serif;
}

.styledLinkContent--desktop__header-menu--websites:hover {
    text-decoration: underline;
}

.styledLinkContainer--desktop__header-menu--websites {
    margin : 0;
    padding: 0;
}

.menuContainer--desktop__header-menu--websites {
    gap: 16px;
}