.infoCardContainer {
    width          : 117.62px !important;
    display        : flex;
    flex-direction : column-reverse;
    padding        : 0px !important;
    justify-content: space-evenly;
}

.infoCardCallActionContainer {
    margin: 0px;
}

.infoCardImage--categorie__tv {
    width : 117.62px;
    height: 71.01px;
}

.infoCardImage--categorie__smartphones {
    width : 95.42px;
    height: 85.07px;
}

.infoCardImage--categorie__apple {
    width : 75.44px;
    height: 76.13px;
}

.infoCardTextContainer {
    /*height: 15px;*/
}

.infoCardContainer :global(.vtex-button) {
    background-color: transparent;
    border          : none;
    /*height        : 15px !important;*/
}

.infoCardContainer :global(.vtex-button__label) {
    font-family   : lexend, sans-serif;
    font-size     : 12px;
    font-weight   : 500;
    line-height   : 15px;
    color         : #1D2734;
    text-transform: lowercase;
    height        : 16px !important;
}