.paragraph--title__home--text {
    margin     : 0px;
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 24px;
    line-height: 30px;
    color      : #1D2734;
    max-width  : 540px;
    height     : 60px;
}

.strong--title__home--text {
    font-weight: 600;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .paragraph--title__home--text {
        font-size    : 40px;
        line-height  : 50px;
        height       : 100px;
    }
}