.paragraph--global__title__slide-1--text {
    margin     : 0px;
    font-family: lexend, sans-serif;
    font-size  : 20px;
    line-height: 24px;
    font-weight: 300;
    color      : #1D2734;
}

.strong--global__title__slide-1--text {
    font-weight: 500;
}

.paragraph--global__title__slide-2--text {
    margin     : 0px;
    font-family: lexend, sans-serif;
    font-size  : 20px;
    line-height: 24px;
    font-weight: 300;
    color      : #1D2734;
}

.strong--global__title__slide-2--text {
    font-weight: 500;
    color      : #6D00cc;
}

.paragraph--global__title__slide-3--text {
    margin     : 0px;
    font-family: lexend, sans-serif;
    font-size  : 20px;
    line-height: 24px;
    font-weight: 300;
    color      : #1D2734;
}

.strong--global__title__slide-3--text {
    font-weight: 500;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .strong--global__title__slide-2--text {
        color: #1D2734;
    }
}